# 한글 / 템플릿
HWP_TEMPLATE_PATH=C:\Users\churchCom\Documents\churchCloud\교회 문서\03 주보\광주새백성교회_주보_2026_메일머지.hwpx
DAY_PPT_TEMPLATE_PATH=C:\Users\churchCom\Documents\churchCloud\교회 문서\■ PPT\주일낮예배-2026-템플릿.pptx

# PPT 라이브러리 폴더
HYMN_PPT_DIR=C:\Users\churchCom\Documents\churchCloud\교회 문서\■ PPT\찬송가 PPT
RESPONSIVE_PPT_DIR=C:\Users\churchCom\Documents\churchCloud\교회 문서\■ PPT\교독문 PPT

# 생성 파일 저장 폴더
OUTPUT_DIR=app/data/output
